@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


:root{
    --primary-color: #fbd1b5;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
    /* Add background image */
    height: 100vh;
    background-image: url('bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
}


.card{
    background: #242628;
    width: 300px;
    height: 400px;
    border-radius: 15px;
    text-align: center;
}

.img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.profile-card-image{
    width: 140px;
    height: 140px;
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    overflow: hidden;
    margin: 50px auto;
}


.card p{
    color: var(--primary-color);
}


.social a{
    color: white;
    margin: 30px 15px;
    font-size: 25px 
}


.social a:hover{
    color: var(--primary-color)
}